<tr>
  <td></td>
  <td><%= order_product_history.quantity %> x</td>
  <td><%= order_product_history.product_pack.quantity %></td>
  <td><%= number_to_currency(order_product_history.price_per_pack) %></td>
</tr>
