<h1>Editing Order Product History</h1>

<%= render 'form', order_product_history: @order_product_history %>

<%= link_to 'Show', @order_product_history %> |
<%= link_to 'Back', order_product_histories_path %>
